{% extends "driver_base.html" %}

{% block title %}Доступные Заказы{% endblock %}

{% block content %}
<div class="content__container">
    <div class="available-order__container orders__container">
        {% for order in orders %}
            <div class="orders-item available-order">
                <div class="orders-item-text">From: {{ order.place_start }}</div>
                <div class="orders-item-text">To: {{ order.place_end }}</div>
                <div class="orders-item-text">Price: {{ order.price }}</div>
                <form action="{{ url_for('take_order', order_id=order.id) }}" method="post">
                    <button class="profile__info-btn apply-order-btn" type="submit">Apply order</button>
                </form>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
