<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IT-Taxi - Домашняя страница</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='css/images/MAI_favicon.png') }}">
</head>
<body class="index-page">
    <div class="list-order-page">
        <div class="container index">
            <div class="content">
                <div class="sidebar">
                    <div class="sidebar-item">
                        <a href="{{ url_for('choice') }}">
                            <img class="logo" src="../static/css/images/logo.svg" alt="logo">
                        </a>
                    </div>
                    <div class="sidebar-item">
                        <a href="{{ url_for('index') }}">
                            <img class="home-img" src="../static/css/images/home.svg" alt="home">
                        </a>
                        <a href="{{ url_for('profile') }}">
                            <img class="profile-img" src="../static/css/images/profile.svg" alt="profile">
                        </a>
                        <a href="{{ url_for('history_of_user_orders') }}">
                            <img class="history-img" src="../static/css/images/history.svg" alt="history">
                        </a>
                    </div>
                </div>
                <div class="content__main index">
                    <div class="content__container">
                        <h1 class="greeting">Hello, {{ current_user.first_name }}!</h1>
                        <div class="arrange-order-container">
                            <a href="{{ url_for('order') }}" class="arrange-order-btn">Arrange an Order</a>
                        </div>
                    </div>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div class="flashes">
                            {% for category, message in messages %}
                                <div class="alert {{ category }}">{{ message }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% endwith %}
                    <div class="orders__container">
                        <div class="available-order__container">
                            {% for order in orders %}
                                <div class="orders-item available-order">
                                    <div class="orders-item-text"><strong>From:</strong> {{ order.place_start }}</div>
                                    <div class="orders-item-text"><strong>To:</strong> {{ order.place_end }}</div>
                                    <div class="orders-item-text"><strong>Price:</strong> {{ order.price }}</div>
                                    <div class="orders-item-text"><strong>Order time:</strong> {{ order.order_time }}</div>
                                    {% if order.order_taked %}
                                        <div class="orders-item-text"><strong>Taken time:</strong> {{ order.order_taked }}</div>
                                        <div class="orders-item-text"><strong>Driver:</strong> {{ order.driver.first_name }} {{ order.driver.last_name }}</div>
                                        <div class="orders-item-text"><strong>Car model:</strong> {{ order.driver.car_model }}</div>
                                    {% else %}
                                        <form method="post" action="{{ url_for('cancel_order', order_id=order.id) }}">
                                            <button type="submit" class="btn btn-danger">Cancel Order</button>
                                        </form>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
