<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Профиль - Список заказов</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="list-order-page">
        <div class="container">
            <div class="content">
                <div class="sidebar">
                    <div class="sidebar-item">
                        <a href="{{ url_for('choice') }}">
                            <img class="logo" src="../static/css/images/logo.svg" alt="logo">
                        </a>
                    </div>
                    <div class="sidebar-item">
                        <a href="{{ url_for('index') }}">
                            <img class="home-img" src="../static/css/images/home.svg" alt="home">
                        </a>
                        <a href="{{ url_for('index') }}">
                            <img class="profile-img" src="../static/css/images/profile.svg" alt="profile">
                        </a>
                        <a href="{{ url_for('history_of_user_orders') }}">
                            <img class="history-img" src="../static/css/images/history.svg" alt="history">
                        </a>
                    </div>
                </div>
                <div class="content__main">
                    <div class="container main__container">
                        <h1>Hello, {{ current_user.first_name }}!</h1>
                        <a href="{{ url_for('order') }}" class="btn btn-primary">Arrange an Order</a>
                    </div>
                    <div class="orders__container">
                        <div class="available-order__container orders__container">
                            {% for order in orders[::-1] %}
                                <div class="orders-item available-order">
                                    <div class="orders-item-text">From: {{ order.place_start }}</div>
                                    <div class="orders-item-text">To: {{ order.place_end }}</div>
                                    <div class="orders-item-text">Price: {{ order.price }}</div>
                                    <div class="orders-item-text">Order time: {{ order.order_time }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
