{% extends "base.html" %}

{% block content %}
<div class="container main__container">
    <h1>Hello, {{ current_user.first_name }}!</h1>
    <a href="{{ url_for('order') }}" class="btn btn-primary">Arrange an Order</a>

</div>
<div class="content__container">
    <div class="available-order__container orders__container">
        {% for order in orders %}
            <div class="orders-item available-order">
                <div class="orders-item-text">From: {{ order.place_start }}</div>
                <div class="orders-item-text">To: {{ order.place_end }}</div>
                <div class="orders-item-text">Price: {{ order.price }}</div>
                <div class="orders-item-text">Order time: {{ order.order_time }}</div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
