{% extends "base.html" %}

{% block content %}
    <h1>Place Your Order</h1>
    <form method="POST" action="{{ url_for('order') }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.place_start.label }}<br>
            {{ form.place_start(size=32) }}<br>
            {% for error in form.place_start.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.place_end.label }}<br>
            {{ form.place_end(size=32) }}<br>
            {% for error in form.place_end.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}
