<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Оценить заказ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="list-order-page">
        <div class="container">
            <div class="content">
                <div class="sidebar">
                    <div class="sidebar-item">
                        <a href="{{ url_for('choice') }}">
                            <img class="logo" src="../static/css/images/logo.svg" alt="logo">
                        </a>
                    </div>
                    <div class="sidebar-item">
                        <a href="{{ url_for('index') }}">
                            <img class="home-img" src="../static/css/images/home.svg" alt="home">
                        </a>
                        <img class="profile-img" src="../static/css/images/profile.svg" alt="profile">
                        <a href="{{ url_for('history_of_user_orders') }}">
                            <img class="history-img" src="../static/css/images/history.svg" alt="history">
                        </a>
                    </div>
                </div>
                <div class="content__main">
                    <div class="container main__container">
                        <h1>Оценить заказ</h1>
                        <form method="POST" action="">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form.rating.label }}<br>
                                {{ form.rating(size=5, class="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.submit(class="btn btn-primary") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
